@model Property.Web.Models.TenantRentalOffer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TenantRentalOffer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BreakDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BreakDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProposedStartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProposedStartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumberofTenants)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberofTenants)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProposedFrequency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProposedFrequency)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdditonalRequirements)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdditonalRequirements)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
