@model Property.Web.Models.TenantRentalOffer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TenantRentalOffer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BreakDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BreakDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProposedStartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProposedStartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumberofTenants)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberofTenants)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProposedFrequency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProposedFrequency)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdditonalRequirements)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdditonalRequirements)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
