@model IEnumerable<Property.Web.Models.TenantRentalOffer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BreakDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProposedStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberofTenants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProposedFrequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditonalRequirements)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BreakDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProposedStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberofTenants)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProposedFrequency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditonalRequirements)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
