@model Property.Web.Models.PersonalDetails

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PersonalDetails</legend>

        @Html.HiddenFor(model => model.Id)
        
        @foreach (var cd in Model.ContactDetails)
        {
            @Html.Partial("_ContactInformationEdit", cd);
            <br/>
        }

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
